/* Estilos gerais */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

/* Estilos para total arrecadado */
.total-arrecadado {
    margin-bottom: 20px;
}

#totalMes {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

/* Estilos para histórico de veículos */
.historico-veiculos {
    margin-bottom: 20px;
}

#pesquisaPlaca {
    display: block;
    margin: 5px auto;
    text-align: center;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


button{ 
    background: #27ae60;
    color: white;
    display: grid;
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover{
    background: #248a4d;
}

#botaoApagarRegistro{
    background: #d65353;
    color: white;
    display: grid;
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#resultadoPesquisa {
    width: 250px;
    padding: 5px;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
#tabela-pesquisa

/* Estilos para a navegação */
.menu {
    display: block;
    justify-content: center;
    gap: 8px;
}
.sidebar {
    width: 300px;
    height: 100vh;
    background: #2c3e50;
    padding: 20px;
    color: white;
}
.menu a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgba(21, 21, 87);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
